@tailwind base;
@tailwind components;
@tailwind utilities;

.video-responsive {
  position: relative;
  padding-bottom: 28.5rem; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
}

.fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fallback p {
  margin-bottom: 16px;
  font-size: 18px;
  color: #094067;
}

.fallback img {
  max-width: 100%;
  height: auto;
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-white z-50;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
